.all_container
{
	background: #ffffff;
	width: 400px;
	text-align: center;
	letter-spacing: 20px;
	text-align: justify;
	line-height: 1.5;
	color: transparent;
	text-shadow: 0 0 6px #616161;
	font-family: Helvetica, sans-serif;
}


.firstline
{
	font-size: 180px;
	width: 100%;
}

.secondline
{
	font-size: 90px;
	letter-spacing: 22px;
}

.thirdline
{
	font-size: 60px;
}

.fourthline
{
	font-size: 44px;
}

.fifthline
{
	font-size: 36px;
	letter-spacing: 24px;
}

.sixthline
{
	font-size: 30px;
}

.seventhline
{
	font-size: 25px;
	letter-spacing: 22px;
}

.eighthline
{
	font-size: 22px;
	letter-spacing: 18px;
}

.ninthline
{
	font-size: 20px;
	letter-spacing: 19px;
}

.tenthline
{
	font-size: 18px;
	letter-spacing: 17px;
}

.elevenline
{
	font-size: 12px;
}

.twelfthline
{
	font-size: 8px;
	letter-spacing: 22px;
}

.redline
{
	background-color: #ffc7c9;
	width: 95%;
	height: 2px;
	vertical-align: middle;
}